{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    'paragraph-id--' ~ paragraph.id(),
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
  ]
%}

{% block paragraph %}

	<div{{attributes.addClass(classes)}}>

		{% set ComponentWidth =  paragraph.field_set_width.value %}
		{% set Componentbackground =  paragraph.field_background_color_code.value %}
		{% set ComponentImagePosition =  paragraph.field_image_position.value %}

		<div style="background:{{ Componentbackground }}; overflow:hidden; padding:64px 50px" class="patient-philosophy corporate-responsibility">
			<div style="width:{{ComponentWidth}}px; margin:auto;">
				{{ content.field_video_desc }}
				<div class="col-sm-6" style="float:{{ComponentImagePosition}}">
					{{content.field_upload_image}}
				</div>
				<div class="col-sm-6">
					{{content.field_description_text_area}}
				</div>
			</div>
		</div>

	</div>
{% endblock paragraph %}
