{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    'paragraph-id--' ~ paragraph.id(),
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
  ]
%}

{% block paragraph %}
	<div{{attributes.addClass(classes)}}>

		{% set ComponentWidth =  paragraph.field_set_width.value %}
		{% set ComponentBackgroundColor =  paragraph.field_background_color_code.value %}
		<div class="contact-us-column-card-map" style="background-color:{{ ComponentBackgroundColor }};">
			<div style="width:{{ ComponentWidth }}px; margin:auto; ">
				<div class="contact_us_full_html">{{ content.field_full_html }}</div>
				<div class="contact_us_map_card">{{ content.field_contact_us_map_card }}</div>
			</div>
		</div>

	</div>
{% endblock paragraph %}
