{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    'paragraph-id--' ~ paragraph.id(),
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
  ]
%}

{% block paragraph %}
	<div {{attributes.addClass(classes)}}>
		{% set ComponentWidth =  paragraph.field_set_width.value %}

		<div class="whole-callout-h1-cta--component">
			<div class="callout-h1-cta--component" style="width:{{ ComponentWidth }}px; margin:auto; ">
				<div class="callout-h1-cta-content col-sm-8">
					<h1 class="title-text">{{ content.field_title }}</h1>
					<div class="callout-h1-cta-short-description">{{ content.field_short_description }}</div>
				</div>
				<div class="callout-h1-cta-link col-sm-4">{{ content.field_link }}</div>
			</div>
		</div>


	</div>
{% endblock paragraph %}
