{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    'paragraph-id--' ~ paragraph.id(),
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
  ]
%}

{% block paragraph %}

	<div{{attributes.addClass(classes)}}>
		<div class="service-box">
			<div class="service-image-field col-sm-3">
				<div class="heading">{{content.field_heading_2}}</div>
				<div class="service-image">{{content.field_upload_image}}</div>
				<div class="image-caption">{{content.field_image_caption}}</div>
			</div>
			<div class="service-desc-field col-sm-9">
				<h3 class="service-field-heading">{{content.field_heading_1}}</h3>
				<div class="service-field-description">{{content.field_description_text_area}}</div>
			</div>
		</div>
	</div>

{% endblock paragraph %}
